.material-symbols--asterisk-rounded {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 21q-.425 0-.712-.288T11 20v-5.6l-3.95 3.975q-.3.3-.712.3t-.713-.3t-.3-.712t.3-.713L9.6 13H4q-.425 0-.712-.288T3 12t.288-.712T4 11h5.6L5.625 7.05q-.3-.3-.3-.712t.3-.713t.713-.3t.712.3L11 9.6V4q0-.425.288-.712T12 3t.713.288T13 4v5.6l3.95-3.975q.3-.3.713-.3t.712.3t.3.713t-.3.712L14.4 11H20q.425 0 .713.288T21 12t-.288.713T20 13h-5.6l3.975 3.95q.3.3.3.713t-.3.712t-.712.3t-.713-.3L13 14.4V20q0 .425-.288.713T12 21'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.material-symbols--sms-outline-rounded {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m6 18l-2.3 2.3q-.475.475-1.088.213T2 19.575V4q0-.825.588-1.412T4 2h16q.825 0 1.413.588T22 4v12q0 .825-.587 1.413T20 18zm-.85-2H20V4H4v13.125zM4 16V4zm4-5q.425 0 .713-.288T9 10t-.288-.712T8 9t-.712.288T7 10t.288.713T8 11m4 0q.425 0 .713-.288T13 10t-.288-.712T12 9t-.712.288T11 10t.288.713T12 11m4 0q.425 0 .713-.288T17 10t-.288-.712T16 9t-.712.288T15 10t.288.713T16 11'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.material-symbols--code-blocks-outline {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m9.6 15.6l1.4-1.425L8.825 12L11 9.825L9.6 8.4L6 12zm4.8 0L18 12l-3.6-3.6L13 9.825L15.175 12L13 14.175zM5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm0-2h14V5H5zM5 5v14z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.material-symbols--security-rounded {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 19.9q2.425-.75 4.05-2.962T17.95 12H12V4.125l-6 2.25v5.175q0 .175.05.45H12zm0 2q-.175 0-.325-.025t-.3-.075Q8 20.675 6 17.638T4 11.1V6.375q0-.625.363-1.125t.937-.725l6-2.25q.35-.125.7-.125t.7.125l6 2.25q.575.225.938.725T20 6.375V11.1q0 3.5-2 6.538T12.625 21.8q-.15.05-.3.075T12 21.9'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.mdi--local-area-network {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10 2c-1.11 0-2 .89-2 2v3c0 1.11.89 2 2 2h1v2H2v2h4v2H5c-1.11 0-2 .89-2 2v3c0 1.11.89 2 2 2h4c1.11 0 2-.89 2-2v-3c0-1.11-.89-2-2-2H8v-2h8v2h-1c-1.11 0-2 .89-2 2v3c0 1.11.89 2 2 2h4c1.11 0 2-.89 2-2v-3c0-1.11-.89-2-2-2h-1v-2h4v-2h-9V9h1c1.11 0 2-.89 2-2V4c0-1.11-.89-2-2-2zm0 2h4v3h-4zM5 17h4v3H5zm10 0h4v3h-4z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.material-symbols--screenshot-monitor-outline-rounded {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17.5 14.5h-1.75q-.325 0-.537.213T15 15.25t.213.538t.537.212H18q.425 0 .713-.288T19 15v-2.25q0-.325-.213-.537T18.25 12t-.537.213t-.213.537zm-11-7h1.75q.325 0 .538-.213T9 6.75t-.213-.537T8.25 6H6q-.425 0-.712.288T5 7v2.25q0 .325.213.538T5.75 10t.538-.213t.212-.537zM4 19q-.825 0-1.412-.587T2 17V5q0-.825.588-1.412T4 3h16q.825 0 1.413.588T22 5v12q0 .825-.587 1.413T20 19h-4v1q0 .425-.288.713T15 21H9q-.425 0-.712-.288T8 20v-1zm0-2h16V5H4zm0 0V5z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.mdi--glass-wine {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m15.5 21.27l-.84-.09c-.76-.07-1.41-.58-1.66-1.31a11.5 11.5 0 0 1 0-6c2.32-.47 4-2.5 4-4.87c0-2-2-7-2-7H9S7 7 7 9a5 5 0 0 0 4 4.9c.53 1.96.53 4.04 0 6c-.24.72-.88 1.23-1.63 1.31l-.87.09s-.5-.02-.5.7h8c0-.72-.5-.73-.5-.73M9.44 7l1-3h3.12l1 3z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.material-symbols--multimodal-hand-eye-outline {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.825 23q-.6 0-1.15-.225t-.975-.65L.6 17l.825-.85q.35-.35.85-.475t1 0l1.725.5V8q0-.425.288-.712T6 7t.713.288T7 8v10.825l-2.45-.7L7.125 20.7q.15.15.325.225t.375.075H12q.825 0 1.413-.587T14 19v-4q0-.425.288-.712T15 14t.713.288T16 15v4q0 1.65-1.175 2.825T12 23zM8 16v-4q0-.425.288-.712T9 11t.713.288T10 12v4zm3 0v-3q0-.425.288-.712T12 12t.713.288T13 13v3zm1 5H7.125zm4-10q-2.275 0-4.2-1.2T9 6.5q.875-2.1 2.8-3.3T16 2t4.2 1.2T23 6.5q-.875 2.1-2.8 3.3T16 11m0-2q1.425 0 2.688-.65T20.75 6.5q-.8-1.2-2.062-1.85T16 4t-2.687.65T11.25 6.5q.8 1.2 2.063 1.85T16 9m0-1q-.625 0-1.062-.437T14.5 6.5t.438-1.062T16 5t1.063.438T17.5 6.5t-.437 1.063T16 8'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.material-symbols--multimodal-hand-eye-outline-rounded {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.825 23q-.6 0-1.15-.225t-.975-.65L1.3 17.7q-.275-.275-.288-.687t.263-.713l.15-.15q.35-.35.85-.475t1 0l1.725.5V8q0-.425.288-.712T6 7t.713.288T7 8v9.5q0 .5-.387.788t-.888.162l-1.175-.325L7.125 20.7q.15.15.325.225t.375.075H12q.825 0 1.413-.587T14 19v-4q0-.425.288-.712T15 14t.713.288T16 15v4q0 1.65-1.175 2.825T12 23zM8 15v-3q0-.425.288-.712T9 11t.713.288T10 12v3q0 .425-.288.713T9 16t-.712-.288T8 15m3 0v-2q0-.425.288-.712T12 12t.713.288T13 13v2q0 .425-.288.713T12 16t-.712-.288T11 15m3 6H7zm2-10q-2.075 0-3.85-1t-2.8-2.8q-.1-.175-.137-.337T9.175 6.5t.038-.363t.137-.337q1-1.8 2.788-2.8T16 2t3.85 1t2.8 2.8q.1.175.138.338t.037.362t-.037.363t-.138.337q-1 1.8-2.787 2.8T16 11m0-2q1.425 0 2.688-.65T20.75 6.5q-.8-1.2-2.062-1.85T16 4t-2.687.65T11.25 6.5q.8 1.2 2.063 1.85T16 9m0-1q-.625 0-1.062-.437T14.5 6.5t.438-1.062T16 5t1.063.438T17.5 6.5t-.437 1.063T16 8'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.token--0x0 {
    display: inline-block;
    width: 30px;
    height: 30px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11.47 3.641a2.353 2.353 0 0 0-3.884 2.332A2.506 2.506 0 0 0 4.481 9.48a2.793 2.793 0 0 0 .043 4.949a2.506 2.506 0 0 0 3.062 3.576A2.332 2.332 0 0 0 9.833 21a2.32 2.32 0 0 0 1.637-.652v-2.527h-.673a1.06 1.06 0 1 1 0-1.06H11a.47.47 0 0 0 .471-.472v-3.237a.53.53 0 0 0-1.06 0v1.06a.53.53 0 0 1-.53.53H8.679a1.06 1.06 0 1 1 0-1.06h.143a.53.53 0 0 0 .53-.53v-2.12a.53.53 0 0 0-.53-.53h-.143a1.06 1.06 0 1 1 0-1.06H9.88a.53.53 0 0 1 .53.53v1.06a.53.53 0 1 0 1.06 0V7.695a.47.47 0 0 0-.472-.472h-.202a1.06 1.06 0 1 1 0-1.06h.673zm1.06 0a2.353 2.353 0 0 1 3.883 2.332a2.507 2.507 0 0 1 3.105 3.508a2.794 2.794 0 0 1-.042 4.949a2.505 2.505 0 0 1-3.063 3.576A2.332 2.332 0 0 1 14.167 21a2.32 2.32 0 0 1-1.637-.652v-2.527h.673a1.06 1.06 0 1 0 0-1.06H13a.47.47 0 0 1-.471-.472v-3.237a.53.53 0 0 1 1.06 0v1.06a.53.53 0 0 0 .53.53h1.202a1.059 1.059 0 1 0 0-1.06h-.143a.53.53 0 0 1-.53-.53v-2.12a.53.53 0 0 1 .53-.53h.143a1.06 1.06 0 1 0 0-1.06h-1.203a.53.53 0 0 0-.53.53v1.06a.53.53 0 1 1-1.06 0V7.695A.47.47 0 0 1 13 7.223h.202a1.06 1.06 0 1 0 0-1.06h-.673z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}